// Configuration
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
//@import "../node_modules/bootstrap/scss/forms";
//@import "../node_modules/bootstrap/scss/buttons";
//@import "../node_modules/bootstrap/scss/transitions";
//@import "../node_modules/bootstrap/scss/dropdown";
//@import "../node_modules/bootstrap/scss/button-group";
//@import "../node_modules/bootstrap/scss/nav";
//@import "../node_modules/bootstrap/scss/navbar";
//@import "card";
//@import "accordion";
//@import "breadcrumb";
//@import "pagination";
//@import "badge";
//@import "alert";
//@import "progress";
//@import "list-group";
//@import "close";
//@import "toasts";
//@import "modal";
//@import "tooltip";
//@import "popover";
//@import "carousel";
//@import "spinners";
//@import "offcanvas";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";


.logo {
  border: 0;
  text-decoration: none;
}

%base-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
}

.bird-shape {
  height: 48px;
  width: 48px;
  display: inline-block;
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20511%20511%22%20style%3D%22enable-background%3Anew%200%200%20511%20511%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M509.807%20159.545c.016-.026.036-.047.052-.073.033-.053.058-.108.09-.162a6.752%206.752%200%200%200%20.354-.674%206.354%206.354%200%200%200%20.285-.708%207.417%207.417%200%200%200%20.281-1.069%207.358%207.358%200%200%200%20.097-.725c.013-.149.019-.298.023-.447.002-.064.01-.126.01-.19%200-.038-.005-.076-.006-.114a7.484%207.484%200%200%200-.021-.423c-.008-.114-.015-.228-.029-.341-.014-.116-.034-.231-.053-.346-.022-.132-.043-.265-.071-.394-.021-.094-.048-.187-.072-.28-.038-.144-.075-.288-.12-.428-.028-.086-.062-.17-.093-.255-.052-.141-.102-.281-.162-.418-.041-.095-.089-.186-.135-.279-.059-.12-.115-.241-.18-.358-.062-.112-.131-.219-.199-.328-.058-.093-.113-.187-.175-.276-.082-.119-.172-.234-.261-.349-.058-.075-.113-.151-.174-.224-.093-.111-.193-.216-.293-.322-.068-.072-.134-.146-.205-.216-.093-.091-.192-.177-.29-.264-.09-.08-.18-.16-.274-.235-.086-.069-.176-.133-.265-.198a7.296%207.296%200%200%200-.356-.248c-.031-.02-.059-.044-.091-.063l-64-40c-.044-.027-.089-.048-.133-.074-.089-.053-.176-.107-.267-.156a6.67%206.67%200%200%200-.441-.216c-.073-.034-.145-.069-.22-.101-.052-.022-.104-.041-.156-.061a7.34%207.34%200%200%200-.367-.133c-.045-.015-.087-.035-.133-.049l-.041-.011-.132-.037a7.325%207.325%200%200%200-.43-.11c-.055-.012-.109-.029-.164-.04-.036-.007-.072-.01-.108-.017a8.164%208.164%200%200%200-.439-.068c-.105-.013-.21-.026-.316-.035a7.128%207.128%200%200%200-.386-.021%207.544%207.544%200%200%200-.368-.005%207.505%207.505%200%200%200-.335.015l-.132.006c-.029.002-.058.001-.087.004-.061.006-.121.017-.181.024-.103.012-.206.028-.309.044-.034.005-.068.009-.101.015-.046.008-.092.011-.137.02-.056.011-.11.027-.165.039-.103.022-.205.049-.308.075a6.881%206.881%200%200%200-.38.107%207.39%207.39%200%200%200-.326.114c-.08.029-.161.054-.239.086-.033.013-.065.031-.098.045a7.176%207.176%200%200%200-.345.159c-.078.038-.158.073-.235.113-.008.004-.017.007-.025.012l-114.566%2061.102-68.1-83.234-.01-.011-.065-.077c-.053-.063-.111-.12-.166-.181-.106-.118-.212-.237-.326-.348-.066-.065-.139-.124-.208-.186-.109-.099-.216-.199-.331-.292-.109-.087-.225-.166-.338-.248l-.026-.019c-.075-.053-.147-.111-.224-.162-.115-.076-.238-.142-.358-.212-.091-.053-.18-.11-.273-.159-.112-.059-.23-.108-.346-.161-.107-.049-.212-.103-.321-.147-.104-.042-.212-.075-.319-.112-.127-.045-.253-.092-.382-.13-.016-.005-.032-.012-.048-.016-.114-.033-.228-.053-.342-.08-.103-.024-.205-.052-.31-.072l-.131-.026L24.818%2044.114c-.074-.013-.147-.017-.221-.028a7.967%207.967%200%200%200-.404-.052%206.582%206.582%200%200%200-.369-.023%206.652%206.652%200%200%200-.751.004%206.59%206.59%200%200%200-.724.076%206.754%206.754%200%200%200-.702.143%207.031%207.031%200%200%200-1.037.347%207.66%207.66%200%200%200-.658.314%207.195%207.195%200%200%200-.32.185%207.949%207.949%200%200%200-.301.189c-.116.078-.228.16-.339.244-.058.044-.12.082-.177.128-.027.021-.049.045-.076.067-.112.092-.219.19-.326.289-.077.071-.156.141-.23.215-.096.096-.185.198-.276.299-.075.084-.152.166-.222.252-.08.098-.154.202-.229.305-.07.095-.142.189-.207.286-.068.103-.129.21-.192.317-.062.104-.126.206-.182.312-.056.106-.105.217-.156.326-.053.113-.108.225-.155.34-.044.106-.08.216-.119.325-.044.124-.09.248-.127.374-.031.104-.056.212-.083.319-.034.136-.068.271-.094.408-.007.035-.018.069-.024.104-.014.076-.018.151-.029.227-.019.132-.038.264-.05.397a8.363%208.363%200%200%200-.032.724%207.37%207.37%200%200%200%20.038.726%207.236%207.236%200%200%200%20.11.727%208.602%208.602%200%200%200%20.182.717%207.792%207.792%200%200%200%20.563%201.348c.058.109.121.214.184.32a6.357%206.357%200%200%200%20.432.638c.044.059.082.121.129.179l47.852%2059.815H7.5c-.068%200-.133.008-.2.01-.138.004-.276.01-.414.021a8.428%208.428%200%200%200-.71.092%207.123%207.123%200%200%200-.701.161%206.619%206.619%200%200%200-.694.232%207.294%207.294%200%200%200-1.597.858%206.788%206.788%200%200%200-.574.45%208.111%208.111%200%200%200-.545.52%206.742%206.742%200%200%200-.503.591c-.041.053-.085.1-.125.154-.023.032-.041.065-.063.097a8.23%208.23%200%200%200-.244.373c-.053.086-.108.172-.157.259a8.344%208.344%200%200%200-.195.376c-.048.097-.097.194-.141.292-.052.118-.097.239-.143.36-.042.111-.086.222-.123.335-.036.111-.066.225-.097.339-.035.126-.07.252-.097.379-.023.105-.039.212-.058.318-.024.139-.048.278-.064.418-.012.101-.018.203-.025.306-.011.147-.02.295-.022.442-.003.039-.008.077-.008.117%200%20.068.008.133.01.2a7.17%207.17%200%200%200%20.195%201.515%207.912%207.912%200%200%200%20.201.702%207.54%207.54%200%200%200%20.583%201.296%207.618%207.618%200%200%200%201.101%201.472%207.72%207.72%200%200%200%20.52.493c.106.091.215.177.325.262.053.041.1.085.155.125l172.304%20125.312-31.29%20203.386-.011.073-.004.024c-.005.031-.005.061-.009.092-.03.213-.054.426-.066.638-.005.084-.002.166-.004.249-.003.159-.007.318-.001.476.005.124.019.245.03.367.011.116.018.232.034.347.02.143.049.284.077.425.019.094.034.189.057.282.034.144.077.284.119.425.027.091.052.182.083.272.045.13.097.257.149.385.04.099.078.199.123.296.05.109.106.215.161.321.058.112.114.224.177.333.051.088.108.172.162.258.076.12.152.24.236.356.053.073.11.143.165.214.093.12.186.239.287.354.06.068.125.132.187.199.102.108.203.216.312.318.081.076.168.147.253.22.096.083.191.167.292.245.123.096.253.183.383.271.071.048.138.099.21.144.181.114.369.218.561.317.027.014.051.03.078.044l.009.004c.253.126.514.238.783.336.067.024.135.041.202.063.184.061.37.119.561.166.126.031.252.053.378.078.094.018.185.043.281.058.032.005.063.003.095.007.347.049.694.082%201.04.082l.011-.001h.004c.31%200%20.615-.026.918-.064l.179-.024a7.45%207.45%200%200%200%201.783-.498c.055-.023.109-.045.163-.069.274-.122.541-.258.798-.412.047-.028.091-.06.137-.089.216-.136.424-.283.625-.439.06-.046.12-.091.178-.139a7.44%207.44%200%200%200%20.636-.595c.05-.053.098-.108.147-.162.202-.224.394-.458.569-.706l.017-.022a7.51%207.51%200%200%200%20.509-.858c.012-.024.029-.045.041-.069l54.781-109.563%20181.501-78.913c.049-.021.093-.048.141-.07.145-.067.288-.137.429-.213l.041-.02c.023-.012.046-.021.069-.034.052-.029.1-.064.152-.094a7.2%207.2%200%200%200%20.334-.21c.072-.048.145-.093.215-.143.027-.019.052-.041.079-.061.082-.06.162-.123.241-.187.019-.015.041-.025.06-.041l.055-.05c.07-.058.137-.117.204-.178.066-.06.13-.122.194-.183l.012-.011c.028-.027.058-.05.086-.078l.061-.064.148-.157c.062-.068.121-.138.181-.208.058-.067.118-.133.173-.202l.093-.12.074-.096c.026-.036.049-.074.075-.11l.023-.034c.058-.082.118-.163.172-.247l.051-.08c.058-.093.111-.189.165-.284.051-.09.104-.178.151-.269l.007-.013.021-.042c.054-.107.102-.219.151-.329.04-.09.083-.179.119-.271l.019-.045c.046-.118.084-.239.124-.36l.018-.051c.007-.022.019-.042.026-.064l.03-.096.002-.006%2033.681-106.656h71.113l.014.001.051-.003a7.61%207.61%200%200%200%20.818-.051c.076-.009.151-.023.226-.034a7.52%207.52%200%200%200%20.643-.121c.078-.018.155-.039.232-.06.216-.058.427-.126.634-.203.065-.024.131-.046.196-.072a7.56%207.56%200%200%200%20.785-.364l.018-.011c.239-.131.468-.277.691-.433.084-.059.165-.122.246-.184.149-.113.293-.231.432-.354.08-.071.16-.141.237-.216a7.32%207.32%200%200%200%20.526-.56l.058-.063c.188-.232.358-.476.519-.726zm-82.993-28.782-38.29%20121.253-57.435-70.199%2095.725-51.054zM41.816%2062.386l195.301%2034.875-55.8%20139.5L41.816%2062.386zm332.775%20196.288-180.335-13.872%2055.488-138.719%20124.847%20152.591zm-161.962%2078.415L193.3%20259.773l167.518%2012.886-148.189%2064.43zm-13.078%209.535-33.364%2066.728%2019.065-123.924%2014.299%2057.196zm-56.759-134.006L30.564%20130.997h46.932l65.296%2081.621zm300.944-85.629%2033.613%2021.008h-40.247l6.634-21.008z%22%2F%3E%3C%2Fsvg%3E%0A");
}

.btc-icon {
  @extend %base-icon;
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M16%2032C7.163%2032%200%2024.837%200%2016S7.163%200%2016%200s16%207.163%2016%2016-7.163%2016-16%2016zm7.189-17.98c.314-2.096-1.283-3.223-3.465-3.975l.708-2.84-1.728-.43-.69%202.765c-.454-.114-.92-.22-1.385-.326l.695-2.783L15.596%206l-.708%202.839c-.376-.086-.746-.17-1.104-.26l.002-.009-2.384-.595-.46%201.846s1.283.294%201.256.312c.7.175.826.638.805%201.006l-.806%203.235c.048.012.11.03.18.057l-.183-.045-1.13%204.532c-.086.212-.303.531-.793.41.018.025-1.256-.313-1.256-.313l-.858%201.978%202.25.561c.418.105.828.215%201.231.318l-.715%202.872%201.727.43.708-2.84c.472.127.93.245%201.378.357l-.706%202.828%201.728.43.715-2.866c2.948.558%205.164.333%206.097-2.333.752-2.146-.037-3.385-1.588-4.192%201.13-.26%201.98-1.003%202.207-2.538zm-3.95%205.538c-.533%202.147-4.148.986-5.32.695l.95-3.805c1.172.293%204.929.872%204.37%203.11zm.535-5.569c-.487%201.953-3.495.96-4.47.717l.86-3.45c.975.243%204.118.696%203.61%202.733z%22%2F%3E%3C%2Fsvg%3E%0A");
}

.eth-icon {
  @extend %base-icon;
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M16%2032C7.163%2032%200%2024.837%200%2016S7.163%200%2016%200s16%207.163%2016%2016-7.163%2016-16%2016zm7.994-15.781L16.498%204%209%2016.22l7.498%204.353%207.496-4.354zM24%2017.616l-7.502%204.351L9%2017.617l7.498%2010.378L24%2017.616z%22%2F%3E%3Cg%20fill-rule%3D%22nonzero%22%3E%3Cpath%20fill-opacity%3D%22.298%22%20d%3D%22M16.498%204v8.87l7.497%203.35zm0%2017.968v6.027L24%2017.616z%22%2F%3E%3Cpath%20fill-opacity%3D%22.801%22%20d%3D%22m16.498%2020.573%207.497-4.353-7.497-3.348z%22%2F%3E%3Cpath%20fill-opacity%3D%22.298%22%20d%3D%22m9%2016.22%207.498%204.353v-7.701z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.xmr-icon {
  @extend %base-icon;
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M16%2032C7.163%2032%200%2024.837%200%2016S7.163%200%2016%200s16%207.163%2016%2016-7.163%2016-16%2016zm-.03-26.765A10.816%2010.816%200%200%200%205.148%2016.059c0%201.202.205%202.346.557%203.432h3.227v-9.094l7.04%207.04%207.04-7.04v9.094h3.226a11.07%2011.07%200%200%200%20.558-3.432c0-5.984-4.84-10.824-10.824-10.824zM14.358%2019.02l-3.08-3.08v5.72H6.731c1.906%203.11%205.338%205.192%209.24%205.192%203.901%200%207.362-2.082%209.24-5.192h-4.547v-5.72l-3.05%203.08L16%2020.635l-1.643-1.614z%22%2F%3E%3C%2Fsvg%3E");
}

.heart-icon {
  @extend %base-icon;
  height: 24px;
  width: 24px;
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20style%3D%22enable-background%3Anew%200%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23ff6647%22%20d%3D%22M474.655%2074.503C449.169%2045.72%20413.943%2029.87%20375.467%2029.87c-30.225%200-58.5%2012.299-81.767%2035.566-15.522%2015.523-28.33%2035.26-37.699%2057.931-9.371-22.671-22.177-42.407-37.699-57.931-23.267-23.267-51.542-35.566-81.767-35.566-38.477%200-73.702%2015.851-99.188%2044.634C13.612%20101.305%200%20137.911%200%20174.936c0%2044.458%2013.452%2088.335%2039.981%20130.418%2021.009%2033.324%2050.227%2065.585%2086.845%2095.889%2062.046%2051.348%20123.114%2078.995%20125.683%2080.146a8.592%208.592%200%200%200%206.981%200c2.57-1.151%2063.637-28.798%20125.683-80.146%2036.618-30.304%2065.836-62.565%2086.845-95.889C498.548%20263.271%20512%20219.394%20512%20174.936c0-37.025-13.612-73.631-37.345-100.433z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23e35336%22%20d%3D%22M160.959%20401.243c-36.618-30.304-65.836-62.565-86.845-95.889-26.529-42.083-39.981-85.961-39.981-130.418%200-37.025%2013.612-73.631%2037.345-100.433%2021.44-24.213%2049.775-39.271%2081.138-43.443a109.262%20109.262%200%200%200-16.082-1.189c-38.477%200-73.702%2015.851-99.188%2044.634C13.612%20101.305%200%20137.911%200%20174.936c0%2044.458%2013.452%2088.335%2039.981%20130.418%2021.009%2033.324%2050.227%2065.585%2086.845%2095.889%2062.046%2051.348%20123.114%2078.995%20125.683%2080.146a8.592%208.592%200%200%200%206.981%200c.689-.308%205.586-2.524%2013.577-6.588-21.813-11.092-66.696-35.976-112.108-73.558z%22%2F%3E%3C%2Fsvg%3E");
  vertical-align: middle;
}

.main-table {
  @extend .table;

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-collapse: collapse;
  }

  td {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
  }

  tr:last-child td {
    border-bottom-style: none;
  }

  width: 100%;
  //background-color: transparent;
  //text-align: left;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  //height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
