<!doctype html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <title>OpenBoost</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ meta.og.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ meta.og.url }}">
    {#    <meta property="og:image" content="">#}
    <meta property="og:description" content=" {{ meta.og.description }}">
    {#    <!--    <link rel="apple-touch-icon" href="icon.png">-->#}
    <link rel="icon" type="image/svg+xml" href="/icons/bird.min.svg">
    <link rel="stylesheet" href="/scss/custom.min.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body class="d-flex flex-column h-100">

<main class="flex-shrink-0 mb-5">
    {% block header %}
    <div class="container">
        <header class="py-3">
            <div class="row flex justify-content-between align-items-center">
                <div class="col-3"><h1><a class="d-none d-sm-block text-dark logo" href="/">OpenBoost <span class="bird-shape"></span></a></h1></div>
                <div class="col-12 col-sm-3 d-flex justify-content-end align-items-center">
                    <a class="px-1" href="/why">Why</a>
                </div>
            </div>
        </header>
    </div>
    {% endblock %}

    {% block main %}{% endblock %}

</main>

{% block footer %}
<footer class="footer text-center mt-auto">
    <div class="container">
        Made with <i class="heart-icon"></i> by Dmitry Mantis <br>
    </div>
</footer>
{% endblock %}
{#<!--<script src="js/vendor/modernizr-3.11.2.min.js"></script>-->#}

</body>
</html>
