{% extends "./base.njk" %}

{% block main %}
<div class="container">
    <div class="row mt-3 justify-content-center">
        <div class="col-9 text-center">
            <p>Curated list of FOSS projects accepting direct Bitcoin, Ethereum and Monero donations.</p>
            <p>Original links are attached, addresses not copied due to security concerns, so please use addresses from authentic websites.</p>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-9 table-responsive">
            <table class="main-table">
                <tr>
                    <th>Project</th>
                    <th>Currencies</th>
                    <th>Donate page</th>
                </tr>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{% for crypto in project.cryptos %}<i class="{{ crypto }}-icon"></i> {% endfor %}</td>
                    <td>
                        <a href="{{ project.full_link }}" target="_blank" rel="noopener noreferrer">
                            <span class="d-none d-sm-block">{{ project.full_link }}</span>
                            <span class="d-sm-none">🔗</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
