{% extends "./base.njk" %}

{% block main %}
<div class="container">
    <div class="row mt-3 justify-content-center">
        <div class="col-9">
            <h2 class="pt-3"> Why all that? </h2>
            <p> I have a personal rule to donate 1% of all my income to OSS projects each month, but lots of projects
                I'm willing to support accept neither cards nor crypto but some weird ways which require to submit personal
                documents and move money to payment system custody. With this simple projects list, I'd like to address the issue
                and help people like me to not repeat the same work of verifying whether the OSS project accepts crypto or not.
            </p>
            <p>I am from a country where, PayPal, for example, requires account creating and documents submitting,
                which I'm not fond of and consider as a privacy violation act. I know that I'm not the only person who thinks like that. </p>
            <p>Also, in some jurisdictions, cryptocurrency income triggers taxes only when exchanged to fiat. By using direct
                transfers and donations before fiat exchanging people in such places may lower their taxes, which is a good thing after all!</p>
        </div>
    </div>
</div>
{% endblock %}
